.grid {
  position: relative;
}

.grid:before {
  box-shadow: 0;
  content: '';
  height: calc(100% - 2rem);
  left: 1rem;
  top: 1rem;
  position: absolute;
  width: calc(100% - 2rem);
 }

.ui.divided.grid:before, .celled.grid:before {
  display: none;
}

.ui.aligned .column:after {
  display: none !important;
}

.grid .column:not(.row):not(.grid):after {
  box-shadow: 0;
  content: '';
  display: block;
  min-height: 50px;
}

@media only screen and (max-width: 768px) {
  .stackable.grid:before {
    width: 100%;
    left: 0em;
  }
}
